{% extends "base.twig" %}

{% block content %}
<main id="pageContent" class="page-content" role="main">
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class="article__wrapper wrapper">
			<h1 class="article-h1">{{post.title}}</h1>
			<section class="hero">
				{% if ( has_post_thumbnail() ) %}
					<div class="hero__image">
						{{ the_post_thumbnail('large') }}
					</div>
				{% endif %}
				<div class="hero__text">
					{{post.content}}
				</div>
			</section>
		</div>
	</article>

	<section id="filters" class="ventures-filters">
		<div class="ventures-filters__wrapper wrapper">
			{% if ( categories ) %}
				<h2>Categories {{ categories | length }}</h2>
				<ul class="categories">
					{% for category in categories %}
						{% if ( category.id > 1 ) %}
							<li class="category"><a href="{{category.link}}">{{ category.name }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% endif %}

			{% if ( tags ) %}
				<h2>Tags {{ tags | length }}</h2>
				<ul class="tags">
					{% for tag in tags %}
						<li class="tag"><a href="{{tag.link}}">{{ tag.name }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</section>

	<section id="ventures-gallery">
		<div class="ventures-gallery__wrapper wrapper">
			{% for venture in posts %}
				<article class="venture tease-{{venture.post_type}}" id="tease-{{venture.ID}}">
					<h2><a href="{{venture.link}}">{{venture.title}}</a></h2>
					<p>{{venture.preview}}</p>
					{% if venture.get_thumbnail %}
						<img src="{{venture.thumbnail.src}}" />
					{% endif %}
				</article>
			{% endfor %}
		</div>
	</section>
</main>
{% endblock %}
