{% extends "base.twig" %}

{% block content %}
<!-- page-projects.twig -->
<main id="pageContent" class="page-content" role="main">
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<div class="article__wrapper wrapper"{% if ( has_post_thumbnail() ) %} style="background-image: url({{ post.thumbnail.src }}); background-size: cover; background-position: center center"{% endif %}>
			<section class="hero">
				<div class="hero__text">
					{{post.content}}
				</div>
			</section>
		</div>
	</article>

	<section id="projectGrid" class="project-grid">
		<div id="Filters" class="filters">
			<div class="wrapper">
				<h2>Filter by category</h2>
				{# filters go here #}
				<div class="filter-group categories">
					<button class="filter category category--all selected" data-filter="*">All</button>
					{% for term_slug, term_name in project_categories | sort %}
					<button class="filter category category--{{ term_slug }}" data-filter=".{{ term_slug }}">{{ term_name }}</button>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="projects">
				<div class="wrapper">
					<div id="isotope" class="isotope-container">
					{% for project in projects %}
						{% set link = project.post_link %}
						{% set thumbnail = project.post_thumbnail %}
						{% set title = project.post_title %}
						{% set excerpt = project.post_excerpt %}
						{% set categories = project.post_categories %}
						{% set tags = project.post_tags %}
						{% set site = project.site_name %}
						<div class="project isotope_item {{ categories }}">
							<figure class="project_thumbnail">
								<a href="{{ link }}">
									<img src="{{ thumbnail }}" alt="{{ title }}">
								</a>
							</figure>
							<div class="project_content">
								<h2 class="project_title">{{ title }}</h2>
								<h3 class="project_site-name">{{ site }}</h3>
								<div class="project_excerpt">{{ excerpt }}</div>
								<div class="project_read-more"><a href="{{ link }}">More</a></div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
		</div>

		<!-- BEGIN: 'The Post Grid' plugin code -->
		{# { function('do_shortcode', '[the-post-grid id="24" title="Filter by category"]') } #}
		<!-- END: 'The Post Grid' plugin code -->

		<!-- BEGIN: 'WP Ultimate Post Grid' plugin code -->
		{# { function('do_shortcode', '[wpupg-grid-with-filters id="project-grid"]') } #}
		<!-- END: 'WP Ultimate Post Grid' plugin code -->

	</section>
</main>
{% endblock %}
