{% extends "base.twig" %}

{% block content %}
<!-- single.twig -->
<main class="post-content">
	<div class="wrapper">
		<div class="post post-type-{{ post.post_type }} grid" id="post-{{ post.ID }}">

			<div id="postHero" class="post__hero grid-item grid-item--hero">
				{% if hero.type == 'image' %}
					<div class="hero-item image image--array"><img src="{{ hero.url }}" alt="{{ hero.alt }}"></div>
				{% elseif hero.type == 'video' %}
					<div class="hero-item video video--array">
						<video controls preload="metadata">
							<source src="{{ hero.url }}#t=0.1" type="video/mp4">
							<source src="{{ hero.url }}#t=0.1" type="video/webm">
						</video>
					</div>
				{% elseif hero | slice(0, 7) == '<iframe' %}
					<div class="hero-item video video--iframe">{{ hero }}</div>
				{% endif %}
			</div>

			<article id="postContent" class="post__content grid-item grid-item--main-content">
				<h1 class="post-heading">{{ post.title }}</h1>
				<div class="post-body">
					{{post.content}}
				</div>
{#
				<div id="postContactForm" class="post__contact-form">
					<section class="contact-form">
					  <h1>Contact us</h1>
					  {{ function('do_shortcode', '[contact-form-7 id="115" title="Venture Contact Form"]') }}
					</section>
				</div>
#}
			</article>
			<div id="postGallery" class="post__gallery grid-item grid-item--gallery">
					{% if post.meta('image_1') %}
						{% set gallery_item = post.meta('image_1') %}
						<div class="gallery-item image image--array"><img src="{{ gallery_item.url }}" alt="{{ gallery_item.alt }}"></div>
					{% endif %}

					{% if post.meta('video_1') %}
						{% set gallery_item = post.meta('video_1') %}
						<div class="gallery-item video video--array">
							<video controls preload="metadata">
								<source src="{{ gallery_item.url }}#t=0.1" type="video/mp4">
								<source src="{{ gallery_item.url }}#t=0.1" type="video/webm">
							</video>
						</div>
					{% endif %}

					{% if post.meta('embedded_video_1') %}
						{% set gallery_item = post.meta('embedded_video_1') %}
						<div class="gallery-item video video--iframe">{{ gallery_item }}</div>
					{% endif %}

					{% if post.meta('image_2') %}
						{% set gallery_item = post.meta('image_2') %}
						<div class="gallery-item image image--array"><img src="{{ gallery_item.url }}" alt="{{ gallery_item.alt }}"></div>
					{% endif %}

					{% if post.meta('image_3') %}
						{% set gallery_item = post.meta('image_3') %}
						<div class="gallery-item image image--array"><img src="{{ gallery_item.url }}" alt="{{ gallery_item.alt }}"></div>
					{% endif %}

					{% if post.meta('image_4') %}
						{% set gallery_item = post.meta('image_4') %}
						<div class="gallery-item image image--array"><img src="{{ gallery_item.url }}" alt="{{ gallery_item.alt }}"></div>
					{% endif %}

					{% if post.meta('image_5') %}
						{% set gallery_item = post.meta('image_5') %}
						<div class="gallery-item image image--array"><img src="{{ gallery_item.url }}" alt="{{ gallery_item.alt }}"></div>
					{% endif %}
				{#
 				{% for gallery_item in gallery_items %}
					{% if gallery_item.type == 'image' %}
						<div class="gallery-item image image--array"><img src="{{ gallery_item.url }}" alt="{{ gallery_item.alt }}"></div>
					{% elseif gallery_item.type == 'video' %}
						<div class="gallery-item video video--array">
							<video controls preload="metadata">
								<source src="{{ gallery_item.url }}#t=0.1" type="video/mp4">
								<source src="{{ gallery_item.url }}#t=0.1" type="video/webm">
							</video>
						</div>
					{% elseif image | slice(0, 7) == '<iframe' %}
						<div class="gallery-item video video--iframe">{{ image }}</div>
					{% endif %}
				{% endfor %}
				#}
			</div>
		</div>
	</div>
</main>
{% endblock %}
