{% extends "base.twig" %}

{% block content %}
<main class="page-content">
	<div class="wrapper">
		<div class="post post-type-{{ post.post_type }} grid" id="post-{{ post.ID }}">
			<div class="post__feature-image grid__grid-item grid-item-1">{% if post.thumbnail.src %}<img src="{{ post.thumbnail.src }}">{% endif %}</div>
			<article class="post__content grid__grid-item grid-item-2">
				<h1 class="post-heading">{{ post.title }}</h1>
				<div class="post-body">
					{{post.content}}
				</div>
			</article>
			<div class="post__gallery grid__grid-item grid-item-3">
				{% set rows = function('get_field', 'images') %}
				{% for row in rows %}

					<!-- Image from media library as array -->
					{% if row.type == 'image' %}
						<!--
						{% for key, value in row %}
							{{ key }} => {{ value }}
						{% endfor %}
						-->
						<div class="gallery-item image image--array"><img src="{{ row.url }}" alt="{{ row.alt }}"></div>

					<!-- Video from media library as array -->
					{% elseif row.type == 'video' %}
						<!--
						{% for key, value in row %}
							{{ key }} => {{ value }}
						{% endfor %}
						-->
						<div class="gallery-item video video--array"><img src="{{ row.url }}" alt="{{ row.alt }}"></div>

					<!-- Video from media library as HTML5 -->
					{% elseif row | slice(0, 6) == '<video' %}
						<div class="gallery-item video video--html5">{{ row }}</div>

					<!-- Embedded YouTube|Vimeo video in IFRAME -->
					{% elseif row | slice(0, 7) == '<iframe' %}
						<div class="gallery-item video video--iframe">{{ row }}</div>
					{% endif %}
				{% endfor %}
			</div>
			<div class="post__contact-form grid__grid-item grid-item-4">
				<section class="contact-form">
				  <h1>Contact us</h1>
				  {{ function('do_shortcode', '[contact-form-7 id="115" title="Venture Contact Form"]') }}
				</section>
			</div>
		</div>
	</div>
</main>
{% endblock %}
